.heading{
    font-size: 30px !important;
    font:status-bar;
    color:black;
    width: 100%;
    margin: 0px;
    font-weight: bold;
    background-color:  crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .heading_div{
        float: none;
        padding: 10px;
        border-radius: 15px;
        background-color: white;
    
    }
    .heading_div2{
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    hr{
    height: 10px;
    color: black;
    }
    .copy_right_footer{
        position: fixed;
        bottom: 0;
        width:100%;
        background-color: crimson;
        color: white;
        line-height: 3;
        text-align:center;
    }
    .result_para_tag{
       box-shadow:8px 15px 15px white;
       font-size: 20px;
    }
    
    canvas{
        border:5px double white ;
        border-radius: 5px;
        border-width: 5px;
        box-shadow: 10px 10px 100px white;
        margin-top: 150px;
   }
    